<head>
    <title>Logout</title>
    {{!-- https://stackoverflow.com/questions/19926641/how-to-disable-back-button-in-browser-using-javascript --}}
    <script>
      function preventBack(){window.history.forward();}
      setTimeout("preventBack()", 0);
      window.onunload=function(){null};
    </script>
</head>

<body>
  <main>
    <h1> Lab 10: Logout</h1>

        <p>Logout successful.<p>
        <a href = "/"> Login </a>
    </form>

  </main>
</body>
