h1 {
    /*https://www.w3schools.com/css/css_syntax.asp*/
    text-align: center;
    color: rgb(16, 16, 81);
    font-size: 36px;
}

h2 {
    color: darkslategray;
    text-align: center;
}

ul {
    list-style: circle;
    padding-left: 820px;
}

ol {
    padding-left: 820px
}

li {
    text-align: left;
    list-style-position: inside;
}