body {
    background: #fefefe;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
}

main {
    max-width: 75%;
    margin: auto;
}

header {
    border-bottom: 1px solid #afafaf;
}

h1 {
    color: purple;
    margin-bottom: 5px;
}

p {
    font-size: 1rem;
    line-height: 2;
}

.main-style {
    color: peru;
}

footer {
    font-size: 10pt;
    color: pink;
}

.button_style {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 4px;
    cursor: pointer;
}

.is-prime {
    color: green;
}

.not-prime {
    color: red;
}