<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post">
        {{!-- <label for="number1">Number</label>
        <input type="number" id="number1" name="number1" placeholder="First Number" value="{{inputNumber}}"> --}}
        <label for="input"> Input A Number</label>
        <input type="number" id="input" name="number" placeholder="Number" value="{{inputNumber}}">
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          The result is: {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>