<div class="row">
  <div class="col-sm-12">
    <form id="static-form">
        <label for="input"> Input A Number</label>
        <input type="numbers" id="input" name="numbers" placeholder="Number">
        <button type="submit" class='button_style'>Submit</button>
      <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
        </div>
      </div>
    </form>
  </div>
</div>
