<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="POST">
        <label for="input"> Input A Number</label>
        <input type="number" id="input" name="number" placeholder="Number" value="{{inputNumber}}">
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class='button_style'>Submit</button>
      </div>
      <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
        </div>
      </div>
    </form>
  </div>
</div>