<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
      <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
        </div>
      </div>
    </form>
  </div>
</div>