<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Main Handle </title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p class='p_style'>Name: Amanda Ly</p>
        <p class='p_style'>Student ID: 10416895</p>
        <p class='p_style'>Fun Fact: I want to go to Santorini once I graduate.</p>
    </footer>
</body>
</html>
