<!DOCTYPE html>
<html lang= 'en'>
<head>
    <meta charset="utf-8">
    <title>People Finder</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
    <main>
        <h1>PeopleFinder</h1>
            <p>
                Welcome to Web Development Lab 8! For this lab, we have built a form that allows you to search through a dataset of people. You will be able to not only find people, but find out their personal information such as phonenumber, full address and ssn! 
            </p>
            {{!-- https://github.com/stevens-cs546-cs554/CS-546/blob/master/Lectures/lecture_08/code/views/posts/new.handlebars --}}
            <form action="/search" method="POST">
                <label>
                    Input an ID
                    <input id="input" name="personName" placeholder="Input Info" value="{{people.id}}" class="full-width-input"/>
                </label>
                <button type="button">Continue</button>
            </form>
    </main>
</body>
</html>