<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Whole Prime Number Checker</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main>
        <h1>The Whole Prime Number Checker</h1>
            <p>
                Welcome to Web Development Lab 9! For this lab, we will provide a server that only exists to allow someone to get to the HTML Page and download the associated assets to run the prime number checking page.
            </p>
            {{!-- https://github.com/graffixnyc/CS546/blob/master/lecture_09/JqueryExample/index.html --}}
            <form method="POST" id ="static-form">
                <label for="input">
                    Input a number:
                    <input id="input" name="number" placeholder="Input Number" type="number"/>
                </label>
                <button class = 'button_style' type="Submit">Submit</button>
            </form>
            <ol id="attempts"></ol>
    </main>
    <script src='/public/js/form.js'></script>


<footer >
<p class = 'p_style'>Name: Amanda Ly</p>
<p class = 'p_style'>StudentID: 10416895</p>
<p class = 'p_style'>FunFact: I want to go to Santorini once I graduate.</p>
</footer>
</body>
</html>
